* {
	font-family: 'Comfortaa', cursive;
	background: rgb(74, 95, 74);
	color: whitesmoke;
	text-align: center;
}
.main {
	height: 100vh;
	width: 100vw;
}
.title-box {
	margin-top: 6%;
}
.title h1{
	color: black;
	font-weight: bold!;
	font-size: 12vh;
}
.title2 h2 {
	color: whitesmoke;
	letter-spacing: 2px;
	font-size: 5vh;
	text-shadow: 1px 1px 2px rgb(183, 232, 197);
}
.def h3 {
	color: whitesmoke;
	font-size: 2.5vh;
	letter-spacing: 5px;
	line-height: 33px;

}
.formFrame {
	width: 62vw;
	padding: 3%;
	background-color: rgb(128, 171, 177);
	border-radius: 20px;
	margin-top: 5%;
	margin-left: 14%;

}

.main h5 {
	padding-top: -45px;
	color: whitesmoke;
	background-color: rgb(128, 171, 177);
	font-size: 25px;
	letter-spacing: 4px;
}
.input-box {
	width: 50%;
	height: 6vh;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: x-large;
	background-color: white;
	color: black;
	border-radius: 9px;
}
.main button{
	padding: 12px;
	width: 200px;
	margin-top: 40px;
	margin-bottom: 35px;
	background-color: black;
	border-radius: 9px;
	color: whitesmoke;
	font-size: 25px;
	box-shadow: 10px 10px 30px 5px gray;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: whitesmoke;
	color: black;
	font-size: 20px;
	padding: 30px;
	border-radius: 9px;
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
	box-shadow: 10px 10px 30px 5px gray;

}
.close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	cursor: pointer;
	background-color: transparent;
	color: black;
}
#responseText{
	color: rgb(128, 171, 177);
	background-color: transparent;
	font-size: 22px;
	margin-top: 10px;
	font-weight: bold;
}